[submodule "debian/extra/headers-more-nginx-module"]
	path = debian/extra/headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module
[submodule "debian/extra/ngx_brotli"]
	path = debian/extra/ngx_brotli
	url = https://github.com/google/ngx_brotli